#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #D3D3D3;
  color: white;
  padding: 15px;
  border-radius: 10px;
  @media screen and (max-width: 992px) {
    padding: 5px;
    bottom: 10px;
    right: 10px;
  }
}

#myBtn:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: #555;
  cursor: pointer;
}
