@use "variables";

button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  background-color: white;
  color: variables.$blue;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid variables.$blue;

  @media screen and (max-width: 992px) {
    padding: 5px;
    bottom: 10px;
    right: 10px;
  }
}

button:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: #555;
  cursor: pointer;
}
