@import 'src/styles';

.container {
  background-color: #edf5ff;
  padding: 75px;
}

.mat-expansion-panel {
  transition: .5s;
  background-color: #f5f9ff;
  border-radius: $default_border_radius;
}

.mat-expansion-panel:hover {
  background-color: #007bff;
  color: white;
  transition: 300ms;
}

.mat-expansion-indicator::after {
  color: rgba(255, 255, 255, .54);
}

.faq-panel {
  background-color: rgba(255, 255, 255, .54);
  padding: 50px;
  border-radius: $default_border_radius;
  border: 0;
}

.mat-expansion-panel:not(:last-child) {
  margin-bottom: 10px;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  margin-right: 0;
}

.mat-panel-answer {
  padding: 20px;
  animation: fadein .35s ease-in;
  background-color: white;
}

.text-container {
  text-align: center;
}
