<section class='blue-bg' *ngIf="faqs.length > 0">
  <div class='text-container'>
    <p class="title heading">FAQs</p>
    <gdsc-title-bar></gdsc-title-bar>
    <p class='faqsText large-text'>Below are some of the frequently asked questions by the students</p>
  </div>
  <div class='faq-panel'>
    <mat-expansion-panel *ngFor='let faq of faqs'>
      <mat-expansion-panel-header>
        <p class="medium-text">{{ faq.question }}</p>
      </mat-expansion-panel-header>
      <mat-panel-description class='mat-panel-answer'>
        <p class="medium-text">{{ faq.answer }}</p>
      </mat-panel-description>
    </mat-expansion-panel>
  </div>
</section>
