@use 'variables';

.title {
  margin: 20px 0;
}

.mat-expansion-panel {
  transition: .5s;
  background-color: #f5f9ff;
  color: black;
  border-radius: variables.$default_border_radius;
}

.mat-expansion-panel:hover {
  background-color: #007bff;
  color: white;
  transition: 300ms;
}

.mat-expansion-indicator::after {
  color: rgba(255, 255, 255, .54);
}

.faq-panel {
  background-color: rgba(255, 255, 255, .54);
  padding: 50px;
  border-radius: variables.$default_border_radius;
  border: 0;
}

.mat-expansion-panel:not(:last-child) {
  margin-bottom: 10px;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  margin-right: 0;
}

.mat-panel-answer {
  padding: 20px;
  animation: fadein .35s ease-in;
  background-color: white;
}

.text-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.faqsText {
  margin: 20px 0 50px;
}

@media screen and (max-width: 500px) {
  .faq-panel {
    padding: 30px 0;
  }

  section {
    padding: 50px 20px;
  }

  mat-expansion-panel .mat-expansion-panel-header {
    font-size: 12px;
  }

  mat-expansion-panel .mat-panel-answer {
    padding: 5px;
    font-size: 12px;
  }

  .faqsText {
    margin: 20px 0;
  }
}
