<div class='blue-bg'>
<div class='header-container'>
  <div class='text-container'>
    <p class="heading">Let's talk!</p>
    <gdsc-title-bar></gdsc-title-bar>
    <p class='contactText large-text'> Do you have any questions? Or maybe you'd like to discuss about a
      partnership?</p>
    <p>Get in touch with us!</p>
  </div>
</div>

<gdsc-contact-form></gdsc-contact-form>

<section class="contact-info-area py-2">
  <div class="container">
    <button class="contact-info-box">
      <a href="mailto:dsc.upt@gmail.com">
        <mat-icon>alternate_email</mat-icon>
        <p class="large-text">Email</p>
        <p class="medium-text">dsc.upt@gmail.com</p>
      </a>
    </button>
    <button class="contact-info-box">
      <mat-icon>location_on</mat-icon>
      <p class="large-text">Address</p>
      <p class="medium-text">Timisoara, Romania</p>
    </button>
  </div>
</section>
</div>

<gdsc-back-to-top></gdsc-back-to-top>
