<div class = "form-container">
  <div class ="imageContainer">
    <img src="/assets/contact.webp" alt="contact">
  </div>
  <div class="contactContainer">
    <form [formGroup]="contactForm">
      <div class="contact-area">
        <mat-form-field appearance="outline">
          <input formControlName="name" matInput placeholder="Name">
          <mat-error *ngIf="contactForm.controls.name.getError('required')">
            This field is required!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contact-area">
        <mat-form-field appearance="outline">
          <input formControlName="email" matInput placeholder="Email">
          <mat-error *ngIf="contactForm.controls.email.getError('required')">
            This field is required!
          </mat-error>
          <mat-error *ngIf="contactForm.controls.email.getError('pattern')">
            Introduce a valid email address!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contact-area">
        <mat-form-field appearance="outline">
          <input formControlName="phone" matInput placeholder="Phone">
          <mat-error *ngIf="contactForm.controls.phone.getError('required')">
            This field is required!
          </mat-error>
          <mat-error *ngIf="contactForm.controls.phone.getError('pattern')">
            Invalid phone number!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contact-area">
        <mat-form-field appearance="outline">
          <input formControlName="subject" matInput placeholder="Subject">
          <mat-error *ngIf="contactForm.controls.subject.getError('required')">
            This field is required!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contact-area">
        <mat-form-field formControlName="message" appearance="outline">
          <mat-label>Your message</mat-label>
          <textarea matInput rows="6" placeholder="Your Message"></textarea>
          <mat-error *ngIf="contactForm.controls.message.getError('required')">
            This field is required!
          </mat-error>
        </mat-form-field>
      </div>
      <button (click)="showMessageSoon()" mat-raised-button class="btn btn-primary">Submit message</button>
      <p *ngIf="show">The button works!</p>
    </form>
  </div>
</div>
<div class="header-container">
  <div class="text-container">
    <h2>Let's talk!</h2>
    <app-title-bar></app-title-bar>
    <p class="contactText"> Do you have any questions? Or maybe you'd like to discuss about a
      partnership?</p>
    <p>Get in touch with us!</p>
  </div>
</div>
<section class="contact-info-area">
  <div class="container">
    <button class="contact-info-box">
      <a href="mailto:dsc.upt@gmail.com">
        <mat-icon>alternate_email</mat-icon>
        <h3>Email</h3>
        <p>dsc.upt@gmail.com</p>
      </a>
    </button>
    <button class="contact-info-box">
      <mat-icon>location_on</mat-icon>
      <h3>Address</h3>
      <p>Timisoara, Romania</p>
    </button>
  </div>
</section>
<app-back-to-top></app-back-to-top>
