#form-container .btn{
  margin-top: 10px;
}
.btn {
  font-weight: 400;
  display:inline-block;
  border-radius: 5px;
  position: relative;
  text-transform: uppercase;
  transition: color .15s;
  padding: 14px 27px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.btn-primary {
  color: #fff;
  background-color: #4284f7 ;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.container {
  display: flex;
  flex-direction: row;
}

.contact-container {
  margin-right: 100px;
  margin-bottom: 15px;
}

mat-form-field.mat-form-field{
  width: 450px;
}
*,:after, :before {
  box-sizing: border-box;
}
