@use "variables";

.card-container {
  display: flex;
  background-color: ghostwhite;
  color: variables.$cool-black;
  border-radius: 10px;
  border: lightslategray solid 1px;
  height:350px;
  width: 100%;
  font-size:20px;
  margin-bottom:20px;
  align-items: center;
}

.image-container1 {
  min-width: 40%;
  max-width: 40%;
  height: 100%;
  box-sizing: border-box;
  background-color: gray;
  border-radius: 8px 0 0 8px;
}

.image-container1 img {
  max-width: 100%;
  height: auto;
}

.title{
  padding: 10px 0 10px 25px;
  font-size:21px;
  font-weight: bold;
  overflow: auto;
  max-height: 30px;
}

@media (max-width: 768px) {
  .card-container {
    width: 95%;
    height: 400px
  }
  .image-container1 {
    display: none;
  }
  .title {
    max-height: 60px;
    overflow: auto;
  }
  .description {
    height: 250px !important;
  }
}

.buton{
  color: variables.$cool-black;
  border: lightslategray solid 1px;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  margin: 10px 0 5px 0;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.buton:hover {
  font-size: 22px;
  color: white;
  background-color: black;
}

.date{
  position: relative;
  text-align: center;
  font-size:15px;
}

.secundary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 10px 0 10px;
}

.description {
  height: 220px;
  overflow: auto;
  padding: 0 15px 0 15px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: variables.$cool-black;
  border-radius: 15px;
}




