
.card-container {
  display: flex;
  flex-direction: column;
  background-color: 	white;
  color: #1e4fa6;
  border-radius: 10px;
  border: 4px solid #86c0f7;
  height:260px;
  width: 250px;
  justify-content: space-between;
  font-size:20px;
  margin-bottom:50px;
  transition: box-shadow 0.5s ,border-radius 1s;
  transition-timing-function: ease-in-out;
}
.card-container:hover{
  box-shadow: 10px 20px 15px rgba(15, 51, 115,0.3);
  border-radius : 2px;
}

.card-container:hover ::after {
  transition-duration:0.5s;
  box-shadow: none;
  border-radius : 10px;
  transition-duration: 250ms;
}

button{
  display: flex;
  justify-content: space-between;
  background-color: rgba(15, 51, 115,0.1);
  border: 3px solid #86c0f7;
  border-radius: 50px;
  width: 150px;
  margin-left: 10% ;
  font-size: 20px;
  transition: background-color 0.5s, background-color 0.5s, border-color 0.5s ;
  transition-timing-function: ease-in-out;
}
.buton:hover{
  background-color: 	#a3bff0;
  border-color: rgb(107, 159, 242);
  cursor: pointer;
}

.title{
  margin-top:20px;
  margin-left: 15px;
  font-size:21px;
  font-weight: bold;
}

.date{
  margin-left:20px;
  margin-bottom:20px;
  font-size:15px;
}


