
.card-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: #1e4fa6;
  border-radius: 10px;
  border: 4px solid #86c0f7;
  height:260px;
  width: 100%;
  font-size:20px;
  margin-bottom:50px;
  transition: box-shadow 0.5s ,border-radius 1s;
  transition-timing-function: ease-in-out;
  justify-content: flex-start;
  align-items: center;
}

.card-container:hover{
  box-shadow: 10px 20px 15px rgba(15, 51, 115,0.3);
  border-radius : 2px;
}

.card-container:hover ::after {

  box-shadow: none;
  border-radius : 10px;
  transition-duration: 250ms;
}

.buton{
  color: grey;
  background-color: rgba(15, 51, 115,0.2);
  border: 3px solid #86c0f7;
  border-radius: 50px;
  width: 150px;
  font-size: 20px;
  margin-bottom: 10px ;
  margin-left:10px;
  transition: background-color 0.5s, background-color 0.5s, border-color 0.5s ;
  transition-timing-function: ease-in-out;
}
.buton:hover{
  background-color: 	#a3bff0;
  border-color: rgb(107, 159, 242);
  cursor: pointer;
}

.title{
  height: 40%;
  margin-top:0;
  margin-left: 0;
  padding-left: 15px;
  padding-top:15px;
  font-size:21px;
  font-weight: bold;
  z-index: 1;
}

.date{
  position: relative;
  margin-top: 0;
  margin-left:20px;
  margin-bottom:10px;
  font-size:15px;
}

.secundary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 10px 0 10px;
}

.description {
  height: 130px;
}

