.logo {
  text-align: center;

  .sub-logo {
    color: dimgray;
    font-size: 1.5em;
    filter: blur(0.5px);
    font-family: GoogleSans, sans-serif;
    font-weight: lighter;
  }
}

img {
  width: 100%;
}
