<p>events page works!</p>
<div class="container">
  <div class="scrollit">
    <table>
      <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><h3><a href=""></a></h3><a href=""><br></a></td>
        <td><a href=""></a></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td><h3><a href=""></a></h3><a href=""><br></a></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td><h3><a href=""></a></h3><a href=""><br></a></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td><h3><a href=""></a></h3><a href=""><br></a></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td><h3><a href=""></a></h3><a href=""><br></a></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td><h3><a href=""></a></h3><a href=""><br></a></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<svg class="idea-form-bottom" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0,70 C30,130 70,50 100,70 L100,100 0,100 Z" fill="#edf5ff"></path>
</svg>
<app-back-to-top></app-back-to-top>
