.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.headingbar{

  padding: 20px 0 50px 0;
  display: flex;
  justify-content: center;

}
.heading{
  font-size:60px;
  display:flex;
  margin:0 0 0 0;
  padding-top:50px;
  justify-content: center;
}


