.header-container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

h2 {
  color: #007bff;
  font-size: 35px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.scrollbar {
  height: 400px;
  overflow: auto;
}

table {
  width: 1000px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

.text-container {
  text-align: center;
  margin: 10px 15px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
