<p>events page works!</p>
<div class="container">
  <div class="scrollit">
    <table>
      <thead>
      <tr>
        <th>Categorie</th>
        <th>Ultima discuție</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="leftpart"><h3><a href="">Discuții anime</a></h3><a href=""><br>Doar discuții
          despre anime-uri !</a></td>
        <td class="rightpart"><a href="">Fairy-Tail</a> în 20-08-2020</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td class="leftpart"><h3><a href="">Discuții manga</a></h3><a href=""><br>Doar discuții
          despre manga!</a></td>
        <td class="rightpart">Nu a fost creată o discuție.</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td class="leftpart"><h3><a href="">Discuții jocuri</a></h3><a href=""><br>Doar discuții
          despre jocuri!</a></td>
        <td class="rightpart">Nu a fost creată o discuție.</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td class="leftpart"><h3><a href="">Raportare erori,bug-uri !!!</a></h3><a href=""><br>Doar
          raportări erori,bug-uri!</a></td>
        <td class="rightpart">Nu a fost creată o discuție.</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td class="leftpart"><h3><a href="">Sugestii</a></h3><a href=""><br>Doar sugesti!</a></td>
        <td class="rightpart">Nu a fost creată o discuție.</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td class="leftpart"><h3><a href="">General</a></h3><a href=""><br>Aici puteți face
          cunoștință!</a></td>
        <td class="rightpart">Nu a fost creată o discuție.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<svg class="idea-form-bottom" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0,70 C30,130 70,50 100,70 L100,100 0,100 Z" fill="#edf5ff"></path>
</svg>
<app-back-to-top></app-back-to-top>
