<footer class="footer">
  <img class="logo" src="assets/logo.png" alt="logo">
  <p>Check out our social media accounts!</p>
  <a target="blank" href="https://www.facebook.com/gdsc.upt"><img src="/assets/facebook-black.png" alt="Facebook logo"></a>
  <a target="blank" href="https://dsc.community.dev/politehnica-university-of-timisoara/"><img style="border-radius: 15px;" src="/assets/logo_dsc.png" alt="Our logo"></a>
  <a target="blank" href="https://github.com/dsc-upt"><img src="/assets/github-logo.png" alt="GitHub logo"></a>
</footer>
