img {
  height: 30px;
  border-radius: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

footer {
  text-align: center;
  background-color: white;
  background-image: url('~assets/footer-bg.png')
}

.logo {
  height: 50px;
  padding: 25px;
}
