<gdsc-details-banner></gdsc-details-banner>
<gdsc-join-us></gdsc-join-us>
<gdsc-text-image
  [image]="'assets/images/home-0.png'"
  [position]='positions.LEFT'
  [text]="
        'Meet other students on campus interested in similar projects technologies. ' +
        'All are welcome, including those with diverse technical backgrounds and different branches.'
    "
  [title]="'Connect With GDSC UPT'"
></gdsc-text-image>

<gdsc-text-image
  [image]="'assets/images/home-1.png'"
  [position]='positions.RIGHT'
  [text]="
        'Learn about a wide range of technical topics where new skills are gained through hands-on workshops, ' +
        'in-person training and project building activities.'
    "
  [title]="'Why Should you Join Our Team'"
></gdsc-text-image>

<gdsc-text-image
  [image]="'assets/images/home-2.png'"
  [position]='positions.LEFT'
  [text]="
        'Apply your new learnings and connections to build great solutions for local problems. ' +
        'Advance your skills, career and network. Give back to your community by helping others learn as well.'
    "
  [title]="'Grow Together'"
></gdsc-text-image>

<gdsc-idea-form></gdsc-idea-form>

<gdsc-technologies-section></gdsc-technologies-section>

<gdsc-faqs-section></gdsc-faqs-section>

<gdsc-back-to-top></gdsc-back-to-top>

<gdsc-bubble-animation></gdsc-bubble-animation>


