<section>
<app-gdsc-details></app-gdsc-details>

  <app-text-image-component
    [image]="'assets/home-1.webp'"
    [position]='positions.LEFT'
    [text]="
        'Meet other students on campus interested in similar projects technologies. ' +
        'All are welcome, including those with diverse technical backgrounds and different branches.'
    "
    [title]="'Connect With DSC UPT'"
  ></app-text-image-component>

  <app-text-image-component
    [image]="'assets/home-2.webp'"
    [position]='positions.RIGHT'
    [text]="
        'Learn about a wide range of technical topics where new skills are gained through hands-on workshops, ' +
        'in-person training and project building activities.'
    "
    [title]="'Why Join DSC UPT'"
  ></app-text-image-component>

  <app-text-image-component
    [image]="'assets/home-3.png'"
    [position]='positions.LEFT'
    [text]="
        'Apply your new learnings and connections to build great solutions for local problems. ' +
        'Advance your skills, career and network. Give back to your community by helping others learn as well.'
    "
    [title]="'Grow With DSC UPT'"
  ></app-text-image-component>

</section>

<app-idea-form></app-idea-form>

<app-technologies-section></app-technologies-section>

<app-faqs-section></app-faqs-section>

<app-back-to-top></app-back-to-top>
