<app-gdsc-details
  [title]="'Developer Student Clubs UPT'"
  [text]="'Developer Student Clubs are university based community groups for students interested in Google developer technologies. ' +
'Students from all undergraduate or graduate programs with an interest in growing as a developer are welcome!'"
  [image]="'./assets/home.webp'"
  [fbImage]="'./assets/facebook.png'"
  [gitImage]="'./assets/github2.png'"
  [webImage]="'./assets/website.svg'">
</app-gdsc-details>

<app-text-image-component
  [title]="'Conect With DSC UPT'"
  [text]="'Meet other students on campus interested in similar projects technologies. ' +
           'All are welcome, including those with diverse technical backgrounds and different branches.'"
  [position]="false"
  [image]="'./assets/home-1.webp'">
</app-text-image-component>


<app-text-image-component
  [title]="'Why Join DSC UPT'"
  [text]="'Learn about a wide range of technical topics where new skills are gained through hands-on workshops, ' +
          'in-person training and project building activities.'"
  [position]="true"
  [image]="'./assets/home-2.webp'">
</app-text-image-component>


<app-text-image-component
  [title]="'Grow With DSC UPT'"
  [text]="'Apply your new learnings and connections to build great solutions for local problems. ' +
          'Advance your skills, career and network. Give back to your community by helping others learn as well.'"
  [position]="false"
  [image]="'./assets/home-3.png'">
</app-text-image-component>

<app-faqs-section></app-faqs-section>
