.container {
  display: flex;
  width: 90%;
  margin: 20px auto;
  position: relative;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.text-container {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: justify;
  color: dimgray;
  align-items: center;

  .title {
    text-align: center;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  width: 100%;
}

.social-details {
  position: relative;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
