@import "src/assets/styles/_forms.scss";

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.image-container {
  height: 500px;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  box-shadow: 5px 7px 30px rgb(72 73 121);
}

img {
  height: 100%;
}

mat-form-field {
  width: 100%;
}

mat-error {
  margin: 5px 0;
}

@media screen and (max-width: 990px) {
  .form-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .image-container {
    height: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .image-container {
    height: 420px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .image-container {
    height: 300px;
  }
}

@media screen and (max-width: 990px) {
  .image-container {
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
