.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.image-container {
  height: 500px;
  display: block;
  box-sizing: border-box;
  padding: 10px;
}

.contact-container {
  box-sizing: border-box;
  padding: 10px;
  width: 400px;
}

img {
  height: 100%;
}

mat-form-field {
  width: 100%;
}

mat-error {
  margin: 5px 0;
}

@media screen and (max-width: 990px) {
  .form-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .image-container {
    height: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .image-container {
    height: 300px;
  }
  .contact-container {
    width: 100%;
  }
}
