@import "src/styles";

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.pink-bg {
  background-color: $pink;
  box-shadow: 740px 0 0 $pink,
  1520px 0 0 $pink,
  -740px 0 0 $pink,
  -1520px 0 0 $pink;
}

.text-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: justify;
  color: dimgray;
  align-items: center;

  .heading {
    text-align: center;
  }
}

.container img {
  display: block;
  margin: 0 25px;
  max-width: 90%;
}

.left {
  flex-direction: row-reverse;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .text-container {
    align-items: center;
  }

  .container img {
    max-width: 90%;
  }
}
