@use "variables";

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.pink-bg {
  background-color: variables.$pink;
  box-shadow: 740px 0 0 variables.$pink,
  1520px 0 0 variables.$pink,
  -740px 0 0 variables.$pink,
  -1520px 0 0 variables.$pink;
}

.text-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: justify;
  color: dimgray;
  align-items: center;

  .heading {
    text-align: center;
  }
}

.container img {
  display: block;
  max-width: 100%;
}

.left {
  flex-direction: row-reverse;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .text-container {
    align-items: center;
  }

  .container img {
    max-width: 90%;
  }
}
