.container {
  display: flex;
  margin: 20px auto;
  position: relative;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.col-md-6 {
  width: 50%;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.px-2 {
  padding-right: 10px;
  padding-left: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: justify;
  color: dimgray;
  align-items: center;

  .title {
    text-align: center;
  }
}

.container img {
  display: block;
  margin: 0 25px;
  max-width: 90%;
}

.left {
  flex-direction: row-reverse;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    margin: 20px auto;
  }

  .text-container {
    align-items: center;
  }

  .container img {
    max-width: 90%;
  }
}
