.middle {
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 70px;
  color: dimgray;
  opacity: 0.9;
}

.line{
  width: 45%;
  margin-top: 0;
  height:2px;
  background-color: #4285F4;
}

.message{
  padding-bottom:30px ;
  font-size: 18px;
}
