@import "src/styles";
@import "src/assets/styles/_forms.scss";

mat-form-field {
  width: 100%;
}

h3 {
  font-weight: 700;
  margin: 15px 0 20px;
  line-height: 40px;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    justify-content: center;
  }
}

p {
  line-height: 1.6;
  display: block;
  @extend .large-text;
}

mat-label {
  @extend .large-text;
}
