<section class='blue-bg'>
  <div class='code'>
    <h3 class='color-blue heading'>Have an awesome idea?</h3>
    <h3 class='color-blue heading'>Let's brainstorm!</h3>
    <gdsc-title-bar></gdsc-title-bar>
    <p class='color-green'>const <strong class='color-red'>idea</strong> = <span
      class='color-blue'><strong>generateIdea();</strong></span>
    </p>
    <p class='color-red'>if(<strong class='color-blue'>idea.includes(<span class='color-green'>"technicalKnowledge" </span><span
      class='color-yellow'>||</span> <span class='color-green'>"developers" </span><span
      class='color-yellow'>||</span>
      <span class='color-green'> "domainKnowledge"</span><span
        class='color-yellow'> ||</span><span
        class='color-green'> "designers"</span></strong><span class='color-blue'>)</span>) {{"{"}}
    </p>
    <p class='color-blue'><strong>&nbsp;&nbsp;&nbsp;&nbsp;submitIdea();</strong></p>
    <p class='color-red'> } </p>
    <p class='color-red'>return <span class='color-blue'>helpReceived();</span></p>
  </div>

  <div class='form'>
    <form [formGroup]='ideasForm'>
      <mat-form-field appearance='outline'>
        <mat-label>Name</mat-label>
        <input formControlName='name' required matInput>
        <mat-error *ngIf="ideasForm.controls.name.getError('required')">This field is
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance='outline'>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder='pat@example.com' formControlName='email' required>
        <mat-error *ngIf='ideasForm.controls.email.invalid'>{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance='outline'>
        <mat-label>Branch</mat-label>
        <input formControlName='branch' required matInput>
        <mat-error *ngIf="ideasForm.controls.branch.getError('required')">This field is
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance='outline'>
        <mat-label>Year</mat-label>
        <input formControlName='year' required matInput>
        <mat-error *ngIf="ideasForm.controls.year.getError('required')">This field is
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance='outline'>
        <mat-label>Idea</mat-label>
        <textarea formControlName='description' required matInput></textarea>
        <mat-error *ngIf="ideasForm.controls.description.getError('required')">This field is
          required
        </mat-error>
      </mat-form-field>

      <gdsc-submit-button [label]="'SUBMIT IDEA'" [disabled]="!ideasForm.valid" (action)="submit()"></gdsc-submit-button>
    </form>
  </div>
</section>
