.button {
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
}

.button1 {
  background-color: #4285F4;
  color: white;
}

.button1:hover {
  background-color: #0060FF;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

mat-form-field {
  width: 100%;
}

h3 {
  font-size: 35px;
  font-weight: 700;
  margin: 15px 0 20px;
  line-height: 40px;
}

.idea-form {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #edf5ff;
  padding: 100px 0;
}

*, :after, :before {
  box-sizing: border-box;
}

.idea-form-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.container {
  width: 70%;
  padding: 0 15px;
  margin: 0 auto;
}

.column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
  }
  .code {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  align-items: center;
}

.form {
  background: #fff;
  margin-left: 20px;
  box-shadow: 5px 7px 30px rgb(72 73 121);
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  @media screen and (max-width: 1200px) {
    margin-left: -40px;
    margin-right: -40px;
  }
}

p {
  font-size: 18px;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.color-red {
  color: #DB4437;
}

.color-yellow {
  color: #F4B400;
}

.color-blue {
  color: #4285F4;
}

.color-green {
  color: #0F9D58;
}
