@import "src/styles";

mat-form-field {
  width: 100%;
}

h3 {
  font-weight: 700;
  margin: 15px 0 20px;
  line-height: 40px;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    justify-content: center;
  }
}

.form {
  background: #fff;
  box-shadow: 5px 7px 30px rgb(72 73 121);
  padding: 40px;
  border-radius: 5px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

p {
  line-height: 1.6;
  display: block;
  @extend .large-text;
}

mat-label {
  @extend .large-text;
}
