@use "icons";

.container {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 85vh;
  z-index: 1;
}

.text-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: justify;
  color: dimgray;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  .heading {
    text-align: center;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social-details {
  position: relative;
}

@media screen and (max-width: 700px) {
  .content,
  .container {
    flex-direction: column;
  }

  .text-container {
    align-items: center;
  }

  .container img {
    max-width: 90%;
  }

  gdsc-logo {
    padding-top: 80px;
  }
}

gdsc-logo {
  padding-bottom: 50px;

  @media screen and (max-width: 720px) {
    font-size: 10px;
  }
}

.content {
  align-items: center;
  padding-bottom: 25px;
}

img {
  width: 100%;
}
