.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1900px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
