<footer class='footer'>
<div class="container">
  <img class="ac-icon" [src]="'assets/images/ac-logo.png'">

  <gdsc-logo small='true'></gdsc-logo>

  <img class="upt-icon" [src]="'assets/images/upt-logo.png'">
</div>
  <div class='icons'>

    <a class='fb' href='https://www.facebook.com/gdsc.upt' target='blank'>
      <span class='icon icon-fb'></span>
    </a>
    <a class='github ml-15' href='https://github.com/dsc-upt' target='blank'>
      <span class='icon icon-github'></span>
    </a>


  </div>
  <div class='made-with'>
    <p class="medium-text">Made with </p>
    <mat-icon class='color'>favorite</mat-icon>
    <p class="medium-text">by GDSC UPT Developers</p>
  </div>
</footer>
