footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-image: url('../../../../assets/images/footer-bg.png');
  background-position-x: center;
  padding: 0 350px;
  @media screen and (max-width: 1500px) {
    padding: 0 50px;

  }
}

img {
  height: 30px;
}

a img {
  color: #818992;
  background-color: white;
  margin-top: 10px;
}

.ac-icon {
  width: 15%;
  height: auto;
  padding: 50px;

  @media screen and (max-width: 720px) {
    width: 150px;
    margin-top: 24px;

  }

}

.upt-icon {

  width: 15%;
  height: auto;
  padding: 50px;
  @media screen and (max-width: 720px) {
    width: 150px;
    margin-top: 24px;
  }

}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 720px) {
   flex-direction: column;
  }
}

.made-with mat-icon:hover {
  transform: scale(1.2);
}

p {
  margin: 0 5px;
  color: #827F7E;
}

gdsc-logo {
  margin-top: 40px;

  @media screen and (max-width: 720px) {
    font-size: 13px;
  }
}

.color {
  color: red;
}

.made-with {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 500px) {
  .icons {
    padding: 20px 0 25px;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}
