<footer class='footer'>
  <img alt='logo' class='logo' src='assets/logo.png'>
  <div class='icons'>
    <a class='fb' href='https://www.facebook.com/gdsc.upt' target='blank'>
      <span class='icon icon-fb'></span>
    </a>
    <a class='github' href='https://github.com/dsc-upt' target='blank'>
      <span class='icon icon-github'></span>
    </a>
  </div>
  <div class='madeWith'>
    <p>Made with </p>
    <mat-icon class='color'>favorite</mat-icon>
    <p>by GDSC UPT Developers</p>
  </div>
</footer>
