@use "variables";

.scene {
  display: block;
  border-radius: 10px;
  outline: none;
  width: 360px;
  height: 200px;
  transition: transform 1s ease-in-out;
  perspective: 600px;
}

body {
  font-family: sans-serif;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s;
}

.is-flipped {
  transform: rotateY(-180deg);
}

.card_face {
  position: absolute;
  color: black;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: white;
}

.card_face-front {
  & > img {
    margin-top: 9%;
    object-fit: contain;
    height: 130px;
  }
}

.card_face-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
