.header-menu {
  position: fixed;
  z-index: 10;
  bottom: 0;
  padding: 25px 0;
  background: #edf5ff;
  border-radius: 20px;
  width: 100%;
  //box-shadow: 0 7px 13px 0 rgb(0 0 0 / 10%);
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-menu-right {
  padding-right: 2%;
  @media(min-width: 600px) {
    padding-right: 8%;
  }
}

.wrapper {
  @media only screen and (max-width: 870px) {
    display: none;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 70px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  color: #716c80;
}

.color-hover {

  transition: transform .2s;

  &:hover {
    color: #4284f7;
    @media only screen and (min-width: 870px) {
      transform: scale(1.35);
    }
  }
}

.dsc-image {
  width: 35%;
  max-width: 270px;
  padding-left: 70px;
}

.button-mobile {
  @media (min-width: 870px) {
    display: none;
  }
  display: block;
  padding-top: 3vh;
  padding-bottom: 1.78vh;
  @media(min-width: 400px) {
    margin-top: -1vh;
    padding-bottom: 1vh;
  }
  z-index: 1000;
}

.mobile-padding {
  display: block;
  max-width: 100%;
  @media(max-width: 400px) {
    margin-top: -1vh;
  }
  @media(min-width: 400px) {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  @media(min-width: 550px) {
    padding-top: 2vh;
  }
  float: right;
  padding-right: 4px;
}
