<div class="container">
  <div class="text-container">
    <h1>Technologies</h1>
    <p>The are some of the technologies we focus on at GDSC UPT</p>
  </div>
  <mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)"
                 [gutterSize]="'30px'">
    <mat-grid-tile *ngFor="let technology of technologies" class="mat-panel">
      <app-technology-card [technology]="technology" class="card"></app-technology-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

