<section class='blue-bg'>
  <div class='text-container'>
    <p class="title heading">Technologies</p>
    <gdsc-title-bar></gdsc-title-bar>
    <p class='tech-section large-text'>These are some of the technologies we focus on at <span
      (click)='audioSubject.next(bega)'>GDSC UPT</span></p>
  </div>

  <mat-grid-list
    (window:resize)='onResize($event)'
    [cols]='breakpoint'
    [gutterSize]="'30px'"
    rowHeight='2:1'
  >
    <mat-grid-tile *ngFor='let technology of technologies' class='mat-panel'>
      <gdsc-technology-card [technology]='technology' class='card'></gdsc-technology-card>
    </mat-grid-tile>
  </mat-grid-list>

</section>

<audio #bega>
  <source src='https://cdn.timis.tech/sa-curga-bere-pe-bega.mp3' type='audio/mpeg'>
</audio>
