/* You can add global styles to this file, and also import other style files */

@use '~@angular/material' as mat;
@use "variables";

$gdsc-typography: mat.define-typography-config($font-family: "JetBrains Mono");

@include mat.core($gdsc-typography);

@font-face {
  font-family: GoogleSans;
  src: url("https://gdscupt.tech/assets/font/google") format("truetype");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

button, body {
  font-family: "JetBrains Mono", monospace;
}

section {
  padding: 80px 0;
  @media screen and (max-width: 1200px) {
    padding: 40px 0;
  }

  @media (max-width: 768px) {
    padding: 40px 20px
  }
}


.faq-panel .mat-expansion-panel-body {
  padding: 0 !important;
  margin: 0 !important;
}

.mat-expansion-panel:hover {
  .mat-expansion-indicator:after {
    color: white !important;
  }
}

.heading {
  color: variables.$blue;
  font-size: 35px;
  @media screen and (max-width: 900px) {
    font-size: 25px;
  }
  @media screen and (max-width: 500px) {
    font-size: 20px;
  }
}

.large-text {
  font-size: 18px;
  @media screen and (max-width: 900px) {
    font-size: 15px;
  }
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.medium-text {
  font-size: 15px;
  @media screen and (max-width: 900px) {
    font-size: 12px;
  }
  @media screen and (max-width: 500px) {
    font-size: 10px;
  }
}

.small-text {
  font-size: 10px;
  @media screen and (max-width: 900px) {
    font-size: 8px;
  }
  @media screen and (max-width: 500px) {
    font-size: 6px;
  }
}

.color-red {
  color: #DB4437;
}

.color-yellow {
  color: #F4B400;
}

.color-blue {
  color: #4285F4;
}

.color-green {
  color: #0F9D58;
}

mat-form-field.noPadding .mat-form-field-wrapper {
  padding-bottom: 10px;
}

.mat-snack-bar-container {
  color: #4284f7;
  background: white;
}

.mat-simple-snackbar-action {
  color: red;
}

.blue-bg {
  background-color: variables.$light-blue;
  box-shadow: 740px 0 0 variables.$light-blue,
  1520px 0 0 variables.$light-blue,
  -740px 0 0 variables.$light-blue,
  -1520px 0 0 variables.$light-blue;
}

.flex-column,
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.ml-15 {
  margin-left: 15px;
}

.col-md-6 {
  width: 50%;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}
