/* You can add global styles to this file, and also import other style files */

@use '~@angular/material' as mat;

$gdsc-typography: mat.define-typography-config($font-family: "JetBrains Mono");

@include mat.core($gdsc-typography);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

button, body {
  font-family: "JetBrains Mono", monospace;
}

$default_border_radius: 7px;

.faq-panel .mat-expansion-panel-body {
  padding: 0 !important;
  margin: 0 !important;
}

.mat-expansion-panel:hover {
  .mat-expansion-indicator:after {
    color: white !important;
  }
}
