.form {
  background: #fff;
  box-shadow: 5px 7px 30px rgb(72 73 121);
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  z-index: 1;


  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
